.nav{
    display: flex;
    justify-content: space-between;
    background-color:#C2C3D1;
    border-radius: 15px;
}
.city{
    border: none;
    width: 280px;
    height: 43px;
    background-color: #ECECEC;
    border-radius: 15px;
    outline: none;
    color:#48484b;
    font-size: 25px;  
}
.search{
    border: none;
    height: 40px;
    width: 40px;
    background-color: #ECECEC;
    border-radius: 15px;  
    outline: none;
}
.search-city{
    border: none;
    background-color:#ECECEC;
    border-radius: 15px;
    padding: 0 20px;
    
}
li{
    font-size: 40px;
    color:#5C3620;
    font-weight: bold;
    margin:0;
}
.nav>nav>ul{
    display: flex;
    list-style: none;
    margin: 2px;
    padding: 2px;
}
.below{
    padding: 10px 10px 0px 5px;
}
.window{
    display: flex;
    justify-content: center;
    margin: 25px;  
}
.week{
    display: flex;
    justify-content: center;
    padding: 40px; 
}
.conteiner{
    display: flex;
    justify-content: center;
    margin: 10px;
    padding-right: 19px;
    width: 210px;
    height: 280px;
    background-color: #C2C3D1;
    border-radius: 15px;
    border: solid black 0.5px;
}
.conteiner>ul{
    list-style: none;    
}
.conteiner>ul>li{
    padding: 10px;
}
.days-hour{
    display: flex;
    justify-content: center;
}
.day{
    border-radius: 15px;
    border: solid black 0.5px;
    padding: 10px;
    background-color: #E4C3B0;
    width: 1450px;
    height: 150px;
    overflow-x:scroll;
    overflow-y: hidden;
    
    
}
.one {
    display: flex;
    width: 100px;
    max-height: 180px;
    border-radius: 15px; 
}
.time {
    width: 100px;
    height: 40px;
    background-color: #C2C3D1;
    border-bottom: solid 0.5px;
    margin: -8px;  
    margin: -10px;
}

.t {
    font-size: 25px;
    color:#5C3620;
    font-weight: bold;
}

.time>ul{
    list-style: none;  
}
.time>ul>li{
    position: relative;
    padding: 5px;
    right: 28px;
    bottom: 20px;
}